<% title(t('.page_title')) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l"><%= t('.heading') -%></h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <%= render 'summary_line', {key: "Reporting as", value:t(@issue.reporting_as&.to_sym, scope: [:helpers, :label, :issue, :reporting_as_options]), step: 'reporting_as'} %>
      <% if @issue.reporting_as&.include?('other') %>
        <%= render 'summary_line', {key: "Reporting as other", value:truncate_text(@issue.reporting_other), step: 'reporting_as'} %>
      <% end %>
      <% if @issue.individual_reporting? %>
        <%= render 'summary_line', {key: "Postcode", value:@issue.addr_postcode, step: 'postcode'} %>
      <% end %>
    </dl>

    <% if not @issue.individual_reporting? %>
      <h2 class="govuk-heading-m">Organisation details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <%= render 'summary_line', {key: "Organisation name", value:@issue.org_name, step: 'org_name'} %>
        <%= render 'summary_line', {key: "Postcode", value:@issue.addr_postcode, step: 'postcode'} %>
        <%= render 'multi_value_line', {key: "Areas of operation", value:@issue.area_of_ops_text, step: 'org_area'} %>
        <%= render 'summary_line', {key: "Operating sector", value:truncate_text(@issue.business_sector), step: 'org_sector'} %>
      </dl>
    <% end %>

    <h2 class="govuk-heading-m">Your internal market issue</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <%= render 'summary_line', {key: "Issue description", value:truncate_text(@issue.issue), step: 'issue'} %>
      <%= render 'multi_value_line', {key: "Issue areas", value:@issue.issue_areas_text, step: 'issue_areas'} %>
      <% if @issue.impact_area.include?('other')%>
        <%= render 'summary_line', {key: "Details of other issue area", value:truncate_text(@issue.impact_other), step: 'issue_areas'} %>
      <% end %>
    </dl>

    <h2 class="govuk-heading-m">Supporting documents</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <%= render 'multi_value_line', {key: "Uploaded documents", value:@issue.get_filenames, step: 'supporting_documents'} %>
    </dl>

    <h2 class="govuk-heading-m">Contact details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <%= render 'summary_line', {key: "First name", value:@issue.first_name, step: 'contact_details'} %>
      <%= render 'summary_line', {key: "Last name", value:@issue.last_name, step: 'contact_details'} %>
      <%= render 'summary_line', {key: "Email address", value:@issue.email, step: 'contact_details'} %>
      <%= render 'summary_line', {key: "Telephone number", value:@issue.telephone, step: 'contact_details'} %>
    </dl>
  </div>
</div>

<%= form_for @issue, url: report_issue_step_path(params[:id]), :as => :issue do |f| %>
  <%= f.govuk_submit 'Submit', classes: "oim-submission-button" %>
<% end %>